In [1]:
# import libraries

import pandas as pd
import requests as re

In [2]:
# read in API data

url = "http://universities.hipolabs.com/search?country=United+States"
r = re.get(url)

In [3]:


print(type(r.json()))

<class 'list'>

In [4]:
# print the dataframe

df = pd.json_normalize(r.json())
print(df.head(5))

         country alpha_two_code                                   name  \
0  United States             US                    Marywood University
1  United States             US                  Lindenwood University
2  United States             US                    Sullivan University
3  United States             US  Florida State College at Jacksonville
4  United States             US                      Xavier University

  state-province           domains                     web_pages
0           None    [marywood.edu]     [http://www.marywood.edu]
1           None  [lindenwood.edu]  [http://www.lindenwood.edu/]
2           None    [sullivan.edu]       [https://sullivan.edu/]
3           None        [fscj.edu]       [https://www.fscj.edu/]
4           None      [xavier.edu]     [https://www.xavier.edu/]

In [5]:
# check the data types

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4566 entries, 0 to 4565
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   country         4566 non-null   object
 1   alpha_two_code  4566 non-null   object
 2   name            4566 non-null   object
 3   state-province  124 non-null    object
 4   domains         4566 non-null   object
 5   web_pages       4566 non-null   object
dtypes: object(6)
memory usage: 214.2+ KB

In [6]:
# find how many different values are in the state-province column

print(df['state-province'].unique())
print(df['state-province'].nunique())

[None 'Pennsylvania' 'NV' 'Iowa' 'VA' 'TX' 'Colorado' 'IN' 'CA'
 'South Carolina' 'Washington' 'NY' 'Texas' 'ND' 'MI' 'Ohio' 'Florida'
 'California' 'North Carolina' 'Michigan' 'GA' 'New York, NY']
21

In [7]:
# count null values of state-province column

df['state-province'].isna().sum()

4442

In [8]:
# query the data and print rows where the 'state-province' column equals California

df.query("`state-province` == 'California'")

,country,alpha_two_code,name,state-province,domains,web_pages
2185,United States,US,Academy of Art University,California,"[academyart.edu, art.edu]",[https://www.academyart.edu/]
4468,United States,US,Academy of Art University,California,"[academyart.edu, art.edu]",[https://www.academyart.edu/]

In [16]:
# print 2nd and 3rd columns of the dataframe



newdf = df[df.columns[2:4]]
print(newdf)

                                       name state-province
0                       Marywood University           None
1                     Lindenwood University           None
2                       Sullivan University           None
3     Florida State College at Jacksonville           None
4                         Xavier University           None
...                                     ...            ...
4561         West Virginia State University           None
4562                          Wiley College           None
4563         Winston-Salem State University           None
4564                          Unity College           None
4565                        Catawba College           None

[4566 rows x 2 columns]

In [17]:
# print the first four rows

print(df.head(4))

         country alpha_two_code                                   name  \
0  United States             US                    Marywood University
1  United States             US                  Lindenwood University
2  United States             US                    Sullivan University
3  United States             US  Florida State College at Jacksonville

  state-province           domains                     web_pages
0           None    [marywood.edu]     [http://www.marywood.edu]
1           None  [lindenwood.edu]  [http://www.lindenwood.edu/]
2           None    [sullivan.edu]       [https://sullivan.edu/]
3           None        [fscj.edu]       [https://www.fscj.edu/]