In [36]:
# import libraries

import pandas as pd
import numpy as np

In [29]:
# read in data

df = pd.read_csv('coffee.csv')

In [34]:
# print dataframe tail

print(df.tail(5))

            Date    Open    High     Low   Close  Volume Currency
5741  2022-08-29  240.55  240.55  240.55  240.50       1      USD
5742  2022-08-30  238.75  241.75  238.75  239.15      14      USD
5743  2022-08-31  240.75  240.75  239.65  239.10      12      USD
5744  2022-09-01  238.55  238.55  236.60  236.35       6      USD
5745  2022-09-02  232.50  234.05  228.28  228.42       0      USD

In [35]:
# print dataframe head

df.head()

         Date    Open    High     Low   Close  Volume Currency
0  2000-01-03  122.25  124.00  116.10  116.50    6640      USD
1  2000-01-04  116.25  120.50  115.75  116.25    5492      USD
2  2000-01-05  115.00  121.00  115.00  118.60    6165      USD
3  2000-01-06  119.00  121.40  116.50  116.85    5094      USD
4  2000-01-07  117.25  117.75  113.80  114.15    6855      USD

In [31]:
# print dataframe shape

df.shape

(5746, 7)

In [32]:
# print dataframe columns

df.columns

Index(['Date', 'Open', 'High', 'Low', 'Close', 'Volume', 'Currency'], dtype='object')

In [40]:
# dataframe info

df.info

<bound method DataFrame.info of             Date    Open    High     Low   Close  Volume Currency
0     2000-01-03  122.25  124.00  116.10  116.50    6640      USD
1     2000-01-04  116.25  120.50  115.75  116.25    5492      USD
2     2000-01-05  115.00  121.00  115.00  118.60    6165      USD
3     2000-01-06  119.00  121.40  116.50  116.85    5094      USD
4     2000-01-07  117.25  117.75  113.80  114.15    6855      USD
...          ...     ...     ...     ...     ...     ...      ...
5741  2022-08-29  240.55  240.55  240.55  240.50       1      USD
5742  2022-08-30  238.75  241.75  238.75  239.15      14      USD
5743  2022-08-31  240.75  240.75  239.65  239.10      12      USD
5744  2022-09-01  238.55  238.55  236.60  236.35       6      USD
5745  2022-09-02  232.50  234.05  228.28  228.42       0      USD

[5746 rows x 7 columns]>

I want to change the order of the dataframe so that the dates are in descending order instead of ascending order.

In [42]:
# sort the order of the Date column

df = df.sort_values('Date', ascending=False)
df.head()

            Date    Open    High     Low   Close  Volume Currency
5745  2022-09-02  232.50  234.05  228.28  228.42       0      USD
5744  2022-09-01  238.55  238.55  236.60  236.35       6      USD
5743  2022-08-31  240.75  240.75  239.65  239.10      12      USD
5742  2022-08-30  238.75  241.75  238.75  239.15      14      USD
5741  2022-08-29  240.55  240.55  240.55  240.50       1      USD

I want to remove the Volume column from this dataframe.

In [43]:
# remove Volume column

df.drop(['Volume'], axis=1)

            Date    Open    High     Low   Close Currency
5745  2022-09-02  232.50  234.05  228.28  228.42      USD
5744  2022-09-01  238.55  238.55  236.60  236.35      USD
5743  2022-08-31  240.75  240.75  239.65  239.10      USD
5742  2022-08-30  238.75  241.75  238.75  239.15      USD
5741  2022-08-29  240.55  240.55  240.55  240.50      USD
...          ...     ...     ...     ...     ...      ...
4     2000-01-07  117.25  117.75  113.80  114.15      USD
3     2000-01-06  119.00  121.40  116.50  116.85      USD
2     2000-01-05  115.00  121.00  115.00  118.60      USD
1     2000-01-04  116.25  120.50  115.75  116.25      USD
0     2000-01-03  122.25  124.00  116.10  116.50      USD

[5746 rows x 6 columns]